.nutriInfo{
	color:black;
	text-decoration: underline;
}
.envasado{
	background-color:blue;
}
.caduca{
	background-color:#C23D30;
}
.ingredient{
	border-width:0px !important;
	float: left;
	font-size: 18px !important;
}
.recName{
	color:#333;
	font-weight: 600;
	font-family: 'Indie Flower', sans-serif;
	margin-top:0px;
	margin-bottom: 2px;
	width: 100%;
}
.recipeList{
	font-family: 'Play', sans-serif;
	border: 2px solid #000;
}
.photoCol{
	padding-bottom: 15px;
	padding-top: 15px;
}
.ingCol{
	padding-left: 0px;
}
.tabText{
	font-size: 18px;
}
.panel{
	border:1px solid #5393C8;
	margin:1px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 10px;
	margin-left: 0px;
	width: 100%;
}

.centerPic{
	padding-top: 15px;
}

.noPadTop{
	padding-top: 0px;
}

.noPadLeft{
	padding-left: 25px !important;
}

@media (max-width: 768px) {
	div.main{
		margin-top: 42px;
	}	
}
@media (min-width: 768px) {
	.regForm{
		margin-right: 40px !important;
	}	
}
.checkbox-inline{
	margin-left: 10px;
}

.btn{
	margin-top: 5px;
}

.nPadL{
	padding-left: 0px;
}
.filterForm{
	margin-top: 2px;
	margin-left: 0px;
}
.instructions{
	padding-left: 15px;
	padding-right: 15px;
}
.racion{
	margin-bottom: 0px;
}
.numberInput{
	height: 40px;
}
.racion input{
	width: 60px;
	display: inline-block;
}
.recipePills{
	margin-top: 2px;
}
.offer{
	background-color: gold;
	font-family: 'Play', sans-serif;
}

.regForm{
	font-family: 'Play', sans-serif;
}	
.availIngredient{
	background-color: #075F07;
}
.noAvailIngredient{
	background-color: #C23D30;
}
.offerIng{
	border: 4px solid gold;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.offerUrl{
	color: white !important;
}
.allergyIcon{
	float: left;
	padding-right: 5px;
}
.allergensCol{
	margin-top: 10px;
	margin-bottom: 10px;
}
hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.help{
	font-family: 'Play', sans-serif;
	font-weight: 200;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 0px;

}
.helpTitle{
	font-weight: 600;
	font-family: 'Indie Flower', sans-serif;
}
.helpText{
	line-height: 25px;
}