<div ng-include="'partials/navbar.html'"></div>
<div>
  <div class="container container-fluid">
    <h3>{{user.firstName}} {{user.secondName}}</h3>
    <h4 class="h4">Tablero</h4>
    <div class="container container-fluid">
      <ul class="list-group infoList">
        <li class="list-group-item ingredient ingCol col-lg-12 col-md-12 col-sm-12 col-xs-12 nPadL">
          <span>Glucosa: </span>
          <span class="label label-danger">Máximo: {{user.glucoseValues[0]}}</span>
          <span class="label label-success">Mínimo: {{user.glucoseValues[1]}}</span>
          <span class="label label-info">Media: {{user.glucoseValues[2]}}</span>
        </li>
      </ul>
    </div>
    <div id="glucoseChart" class="chart"></div>
    <div id="exerciseChart" class="chart"></div>
    <div id="mealsChart" class="chart"></div>
  </div>
</div>