<div ng-include="'partials/navbar.html'"></div>
<div>
  <div class="container container-fluid">
    <h3>{{user.firstName}} {{user.secondName}}</h3>
    <h4 class="h4">Entrenamientos</h4>
    <div class="container filterForm">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nPadL">
          <button class="btn btn-success addForm" ng-click="showForm = ! showForm">Nuevo entrenamiento</button>
        </div>
      </div>
      <section class="nPadL" ng-show="showForm">
        <form class="form-horizontal addForm" role="form" ng-submit="addExerciseData()">
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nPadL">
              <h5>Fecha: <input type="text" class="form-control" id="inputFecha" ng-model="fecha"></h5>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 nPadL">
              <h5>Hora inicio: <input type="text" class="form-control" id="inputStart" ng-model="horaInicio"></h5>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 nPadL">
              <h5>Minutos: <input type="text" class="form-control" id="inputMinutes" ng-model="minutos"></h5>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 nPadL">
              <h5>Calorías: <input type="text" class="form-control" id="inputCalories" ng-model="calorias"></h5>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 nPadL">
              <button type="submit" class="btn btn-success addExcercise" ng-click="showForm = ! showForm"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
        </form>
      </section>
    </div>
    <ul class="list-group infoList list-group-item" ng-repeat="(fecha, entrenamientos) in user.groupedExerciseReverse">
      <div class="row" ng-click="showDetails = ! showDetails">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nPadL">
          <h4><strong>{{ fecha | date:'dd/MM/yyyy' }}</strong></h4>
          <ul class="list-group">
            <kbd class="caloriesCount">Total calorías: {{ getTotal(entrenamientos) }}</kbd>
          </ul>
        </div>
      </div>
      <section class="nPadL" ng-controller="PanelController" ng-show="showDetails">
        <div class="container container-fluid">
          <table class="table table-striped table-bordered table-hover">
            <tr>
              <th>Fecha</th><th>Inicio</th><th>Final</th><th>Calorías consumidas</th>
            </tr>
            <tr ng-repeat="ejercicio in entrenamientos | orderBy:'-startTime'">
              <td>{{ejercicio.startTime | date:'dd/MM/yyyy'}}</td>
              <td>{{ejercicio.startTime | date:'HH:mm'}}</td>
              <td>{{ejercicio.endTime | date:'HH:mm'}}</td>
              <td>{{ejercicio.calories}}</td>
              <td class="anchoJusto"><button type="submit" class="btn btn-danger btn-sm" ng-click="deleteExerciseData(ejercicio)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
          </table>
        </div>
      </section>
    </ul>
  </div>
</div>