<div class="container">
	<form class="form-signin" role="form" ng-submit="login()">
		<h2 class="form-signin-heading text-center">Glucontrole</h2>
		<input type="text" ng-model="username" class="form-control" placeholder="Usuario" required autofocus>
		<input type="password" ng-model="password" class="form-control" placeholder="Contraseña" required>
		<button type="submit" class="btn btn-lg btn-primary btn-block btn-success">Acceder</button>
		<a href="#/register" class="btn btn-lg btn-primary btn-block btn-info" role="button">Registro</a>
	</form>
</div>
