<div class="container">
	<form class="form-signin" role="form" ng-submit="register()">
		<h2 class="form-signin-heading text-center">Nuevo usuario</h2>
		<input type="text" ng-model="username" class="form-control" placeholder="Usuario" required autofocus>
		<input type="password" ng-model="password" class="form-control" placeholder="Contraseña" required>
		<input type="text" ng-model="firstname" class="form-control" placeholder="Nombre" required>
		<input type="text" ng-model="secondname" class="form-control" placeholder="Apellidos" required>
		<input type="text" ng-model="birthdate" class="form-control" placeholder="Fecha de nacimiento" required>
		<input type="text" ng-model="weight" class="form-control" placeholder="Peso (Kg)" required>
		<input type="text" ng-model="height" class="form-control" placeholder="Altura (cm)" required>
		<button type="submit" class="btn btn-lg btn-primary btn-block btn-info">Registro</button>
		<a href="#/login" class="btn btn-lg btn-primary btn-block btn-success" role="button">Acceder</a>
	</form>
</div>

